@use "../sass/utilities/variables" as *;
@use "../sass/utilities/mixins.scss" as *;

.country {
  &_main {
    padding-block: 4rem 6rem;
  }
  &_section {
    display: grid;
    gap: clamp(1rem, 5vw, 10rem);
    justify-items: space-between;
    padding-top: 6rem;
  }

  @media (min-width: 768px) {
    &_section {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_flag {
    box-shadow: 0 0 10px $dark-mode-shadow;
    min-height: 100%;

    [data-theme="light"] & {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  &_description {
    display: flex;
    gap: 4rem;
    flex-direction: column;

    color: $white;

    [data-theme="light"] & {
      color: $very-dark-blue;
    }
  }

  &_name {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
  }

  &_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;

    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    &_details {
      flex-direction: row;
    }
  }

  &_info + &_info {
    margin-top: 1rem;
  }
  &_neighbours {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      &_neighbours {
        flex-direction: row;
        align-items: center;
      }
    }
    h2 {
      font-weight: 600;
      font-size: 1.5rem;
    }

    ul {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}

.highlight {
  font-weight: 600;
}

.deemphasize {
  opacity: 0.8;
}
