@use "../sass/utilities/variables" as *;
@use "../sass/utilities/mixins.scss" as *;

.button {
  font-family: "Nunito Sans", sans-serif;
  background-color: $dark-blue;
  color: $white;
  border: 0;
  padding: 0.7rem 3.5rem;
  border-radius: 4px;
  cursor: pointer;

  @include box-shadow($dark-mode-shadow);

  [data-theme="light"] & {
    @include box-shadow($light-mode-shadow);

    background-color: $white;
    color: $very-dark-blue;
  }
  i {
    margin-right: 1rem;
  }
}
